@import '../_mixins.scss';

.cell {
  flex: 1;
  padding: 0;

  margin: $cell-margin--height $cell-margin--width;
  max-width: $cell-max-width;
  min-width: $cell-min-width;
}

.dead {
  background-color: $background-white;
}

.alive {
  background-color: $background-black;
}