@import '../_mixins.scss';

.cell {
  margin-right: $cell-margin--width;
  margin-left: $cell-margin--width;
  height: $cell-height;
  width: $cell-width;
  padding: $cell-padding;
  display: inline-block;
  vertical-align: top;
  border: $cell-border;
}

.dead {
  background-color: lightgray;
}

.alive {
  background-color: black;
}