@import '../_mixins.scss';

.cell {
  border: $cell-margin--height solid $background-black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 0;
  min-width: 1.5em;
  max-width: 3em;
}
.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.cell:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.dead {
  background-color: $background-white;
}

.alive {
  background-color: $background-black;
}