@import '../_mixins.scss';

body {
  background-color: antiquewhite;
}

.controls {
  padding: 1px;
  position: fixed;
  top: 0;
  background-color: #fffffa;
  border-bottom: 1px solid antiquewhite;
  width: 100%;
  text-align: center;

  .control {
    color: antiquewhite;
    display: inline-block;
    border: 1px solid antiquewhite;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.166666;
    margin: 8px 4px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition: background .2s;
    min-height: 52px;
    min-width: 180px;
  }

  .start {
    background-color: #fffffa;
  }

  .stop {
    background-color: ivory;
  }

  .save {
    background-color: #fffffa;
  }

  .reset {
    background-color: floralwhite;
  }
}

.game {
  margin: 0;
  padding: 0;
}