@import '../_mixins.scss';

html, body {
  margin:0;
  height:100%;
  min-height:100%;
  background-color: $background-black;
}

#app {
  height:100%;
  min-height:100%;
}

.game {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height:100%;
  min-height:100%;

  .fixed-top {
    flex: 0;
  }

  .scrollable-body {
    flex: 8;
    overflow-y: scroll
  }
}