@import '../_mixins.scss';

.controls {
  height: $cell-height + ($cell-margin--height * 2);

  .start {
    background-color: palevioletred;
    color: white;
    border: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 $cell-margin--width;
    padding: $cell-padding;
    height: $cell-height;
    width: $cell-width;
    border: $cell-border;
  }

  .stop {
    background-color: lavender;
    color: white;
    border: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 $cell-margin--width;
    padding: $cell-padding;
    height: $cell-height;
    width: $cell-width;
    border: $cell-border;
  }
}

.game {
  margin: 0;
  padding: 0;
}