
$cell-width: 30px;
$cell-height: 30px;
$cell-margin--height: .5px;
$cell-margin--width: .5px;
$cell-padding: 1px;
//$cell-border: .1px solid white;
$cell-border: 0;


//$background-medium: floralwhite;
//$background-light: #fffffa;
//$background-dark: antiquewhite;

$background-medium: lightgrey;
$background-light: white;
$background-dark: black;
