
$cell-max-width: 75px;
$cell-min-width: 30px;
$cell-max-height: 75px;
$cell-min-height: 30px;
$cell-margin--height: .5px;
$cell-margin--width: .5px;
$cell-padding: 1px;
//$cell-border: .1px solid white;
$cell-border: 0;

$background-grey: lightgrey;
$background-white: white;
$background-black: black;
